@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet'>);
*{
    font-family:'Abel', sans-serif;
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}
body{
    min-width: 100hv;
    padding: 0px;
    margin: 0px;
}
header{
    /* position:absolute; */
    width: 100%;
    padding:0px 3%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:10000;
    position: fixed;
    background-color: rgba(255, 255, 255,0.4);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.button{
    padding: .7em 3rem;
    font-size:20px;
    background-color:rgb(247, 92, 115);
    color:white;
    border-radius: 5rem;
    margin-top: 1rem;
    cursor:pointer;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    z-index: 0;
    border: none;
    transition: 0.5s all;
}
.button:hover{
    background-color:rgb(245, 23, 56);

}




header .logo{
    font-weight: 700;
    text-decoration: none;
    font-size: 4rem;
    text-transform:inherit;
    letter-spacing: 2px;
    color:rgb(99, 112, 126);
}
header .logo:hover{
    color:rgb(48, 48, 82);
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
header ul li{
    list-style: none;
    
    margin: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:rgb(48, 48, 82);
    border-radius:25px;
}
header ul li a:hover,
header ul li a.active
{
background:rgb(255, 182, 193);
color:white;
}
@media screen and (max-width:1200px) {
    .listnav
    {
        display: none;
    }
    
}
header .cursor
{
    cursor:pointer;
}
.search{
    width:250px;
    height: 40px;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 20px;

}
.search input{
    width: 100%;
    height: 30px;
    border:none;
    outline: none;
    background-color: transparent;
}
.search i{
    color: #3a3a3a;

}

section{
    position: relative;
    width:100%;
    display:flex;
}
section img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
     z-index: -2;
    
}

.photo
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-image: url('./images/pexels-burst-545049.jpg');
    background-position: top center;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}
.titleAndText 
{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.titleAndText  .title
{
    font-size: 85px;
}
.titleAndText  .text
{
    font-size: 45px;
}

form{
    width: 400px;
    height: auto;
    padding: 40px;
    margin-right: 5%;
    margin-top: 100px;
    backdrop-filter:blur(-5rem);
    border-radius: 10px;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
}

section {
    display:flex;
    /* width:100%; */
    /* height: 100%; */
    justify-content: flex-end;
    align-items: center;
}

section  form {
    display: flex;
    flex-direction: column;
}
section  form h2{
    color:rgb(248, 117, 137);
    font-weight: 600;
    font-size: 3rem;
    text-transform: initial;
    margin-bottom: 20px;
    border-bottom:4px solid rgb(36, 36, 61);
    display: inline-block;
    letter-spacing: 1px;
}
section  form .input{
    margin-bottom:20px;

}
section  form .input span{
    font-size: 16px;
    margin-bottom:5px;
    display:inline-block;
    color:rgb(42, 42, 70);
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
}
section  form .input input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 450;
    border:1px solid rgb(35, 34, 66);
    font-size: 20px;
    letter-spacing: 1px;
    color:white;
    background: transparent;
    border-radius: 30px;
}
section  form .input input[type="submit"]
{
    background:rgb(248, 117, 137); ;
    color:#fff;
    outline:none;
    border:none;
    font-weight: 500;
    cursor:pointer;
}
section  form .input input[type="submit"]:hover{
    background:rgb(255, 182, 193)  ;
}
section  form .remember{
    margin-bottom:25px;
    color:rgb(247, 92, 115);
    font-weight: 500;
    font-size: 15px;
}
section  form .input p{
    color:rgb(48, 48, 82);
}

section  form .input p a{
    color:rgb(247, 92, 115);
}
  section form .input h3{
    color:rgb(40, 40, 66);
    text-align:center;
    margin: 80px 0 10px;
    font-weight:500;

}
section  form .media{
    display: flex;
    justify-content: center;
    align-items: center;

}
section  form .media li{
    list-style: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: rgb(119, 119, 206);
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

hr{
    color:black;
}

 .blog{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-image: url(./images/pexels-dina-nasyrova-3808243.jpg);
    background-size: cover;
    background-position: bottom center;
}

.contentBlock
{
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.blog .content
{
    color: white;
    text-shadow: 2px 2px black;
    font-size:25px;
    padding-right:1px;
    height: 100%;
    width: 50%;
}
.blog .content h3
{
    font-size:70px;
}


.sales{
    display:flex;
    flex-direction: column;
    width: 100%;
}



.sales  {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}
.salesBlock
{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    background-image: url(./images//library.jpg);
    background-size: cover;
    background-position: top center;
}

.elements
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
    margin-top: 30px;
}

.salesheading
{
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: white;
}


.sales .elements .col{
    width: 350px;
    height: auto;
    background:rgba(0, 0, 0,0.5) ;
    border-radius:10px;
    padding:40px;
    padding-bottom:30px;
    box-sizing: border-box;
}

.sales .elements .col h3{
    font-size: 30px;
    color: white !important;
    text-shadow: 2px 2px black;
}
.sales .elements .col p{
    margin-top: 10px;
    font-size: 25px;
    color: white;
    text-align: justify;
}
.quotesCont
{
    background-image: url(./images/quotesBG.jpg);
    width: 100%;
    height: auto;
}
.quotes{
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.heading{
    color:white;
    text-shadow: 1px 1px ;
    font-size: 60px;
}

.box-container
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    row-gap: 20px;
}
.box{
    background: rgba(255, 255, 255, 0);
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 .3rem #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:2rem 2rem;
    clear: both;
    color: white;
}
.one p{
    font-size:1.5rem;


}
.box:nth-child(2){
float:right;

}
footer{
    background:  rgb(243, 143, 158);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color:#fff;
    left:0;
    right:0;
    

}
 .footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
 .footer-content h3{
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;

}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height:28px;
    font-size: 20px;


}
.social{
    list-style: none;
    display:flex ;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}
.social li{
    margin:0 10px;

}
.social a{
    text-decoration: none;
    color:#fff;

}
.social a i{
    font-size:1.5rem;

}
.social a:hover i{
    color:rgb(100, 96, 96);

}
.footer-bottom{
    background:rgb(247, 92, 115);
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footer-bottom p{
    font-size: 18px;
    word-spacing: 2px;
    text-transform: capitalize;


} 
.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 300;
}

@media(max-width:500px)
{
    .box-container .box{
       flex-flow: column;
       padding:1.5rem;

    }
    .box-container .box .one{

    padding-left: 0;
    padding-top:3rem;
    border:none;
    text-align:center;
    }
}



  